<ng-container *ngIf="statisticsData$ | async as statisticsData; else noStatistics">

  <div class="statistics-container">
    <h1>Статистика по загруженным файлам</h1>
    
    <div *ngFor="let file of statisticsData | keyvalue: originalOrder" class="file-block">
      <h2>{{ file.key }}</h2>
      <div class="table-wrapper" *ngIf="file.value.length > 0; else noData">
        <table>
          <thead>
            <tr>
              <!-- Передаем statisticsData в getHeaders -->
              <th *ngFor="let header of getHeaders(file.key, statisticsData)">{{ header }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of file.value">
              <!-- Передаем statisticsData в getHeaders -->
              <td *ngFor="let header of getHeaders(file.key, statisticsData)">{{ row[header] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noData>
        <p class="no-data-message">В этом файле нет данных для отображения.</p>
      </ng-template>
    </div>
  </div>

</ng-container>

<!-- Этот блок теперь будет показываться, пока данные не загружены -->
<ng-template #noStatistics>
  <div class="no-statistics-message">
    <p>Данные для отображения статистики отсутствуют. Перейдите на страницу загрузки и проанализируйте CSV файлы.</p>
  </div>
</ng-template>