:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.app-header {
  background-color: var(--surface-color);
  box-shadow: var(--shadow-sm);
  padding: 0 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-primary-color);
  transition: transform 0.2s ease-out;
  &:hover {
    transform: scale(1.05);
  }
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;

  a {
    position: relative;
    font-weight: 500;
    color: var(--text-secondary-color);
    padding: 0.5rem 0;
    transition: color 0.2s ease;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--accent-color);
      transition: width 0.3s ease;
    }

    &:hover, &.active-link {
      color: var(--text-primary-color);
    }
    
    &.active-link::after {
      width: 100%;
    }
  }
}

.logout-btn {
  background: none;
  border: 1px solid var(--border-color);
  color: var(--text-secondary-color);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--primary-color);
    color: var(--text-on-primary-color);
    border-color: var(--primary-color);
  }
}

.hamburger-menu, .mobile-only {
  display: none;
}

// Адаптация для мобильных устройств
@media (max-width: 768px) {
  .app-header {
    padding: 0 1rem;
  }

  .desktop-only {
    display: none;
  }

  .hamburger-menu {
    display: flex; // Показываем гамбургер
    // ... стили для гамбургера
  }

  .nav-links {
    // Скрываем меню и показываем его по клику на гамбургер
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: var(--surface-color);
    padding: 1rem;
    transform: translateY(-120%);
    transition: transform 0.3s ease-in-out;
    border-bottom: 1px solid var(--border-color);

    &.menu-open {
      transform: translateY(0);
    }

    .mobile-only {
      display: block; // Показываем кнопку выхода в мобильном меню
      margin-top: 1rem;
    }
  }
}